.sjtct__notfound {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 20%;
    }
    p {
        font-weight: 500;
        margin-top: 20px;
        color: var(--main-color);
        font-size: 20px;
    }
}